doctype
head
	meta(charset="utf-8")
	title My blog
	link(rel="stylesheet" href="/css/style.css")
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

body
	.container.top-container
		.row
			.col-md-3.name-blog Dex1Cre
			.col-md-2.col-sm-12
			.col-md-6.form-enter.col-sm-12

				if user
					span.reg
						h4= "Your login:  " + login
				else
					span.not-reg
						a(href="/") Статьи
						form(action="/" method="post").form-inline
							.form-group
								input(type="text" placeholder="login" name="login").form-control
							.form-group
								input(type="password" placeholder="password" name="password").form-control
							input(type="submit" value="Войти").btn.btn-success

			.col-md-1.col-sm-12
				if user
					span.reg
						a(href="/getBack").btn.btn-primary Выход
				else
					span.not-reg
						a(href="/registration").btn.btn-primary Регистрация

	.container.midle-container
		.row.masonry(data-columns)
			//- тут начинается цикл
			//- -------------------
			for i in themes
				.col-xs-6.col-sm-4
					.thumbnail
						img(src=i.images)
						.caption
							h3= i.title
							p= i.description
							a(href="/theme/" + i.title + "/" + i.id).btn.btn-success.btn-set-image К теме


script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
script(type="text/javascript" src="/js/script_theme.js")